.team a {
	color: #000;
	}
.team .entry-title a {
	color: #000;
	}
.team .landing-header-area {
	background: #FFF url(../images/team-header.jpg) no-repeat top right;
	}
.team .nav-sidebar {
	background: #717073;
	}
.team .landing-header-area .nav-sidebar {
	background: #717073 url(../images/dwn_arw_wht.png) no-repeat top center;
	}
.team .landing-header-area .nav-sidebar ul li {
	padding: 6px 20px;
	}
.team #breadcrumbs .breadcrumbs {
	color: #717073;
	}
.team .blog-logo a {
	background: url(../images/infinitive-logo.png) no-repeat center center;
}
.team .entry-content h3 {
	color: #717073;
}
.team .hentry .entry-content ul li:before {
	color: #717073;
	}
.team .hentry .entry-content a {
	color: #3F1547;
	}
.team .widget_msd_experts .links { background: #717073;}